.gridContainer {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(5, auto);
   
    border-bottom: 0.5px solid rgb(193, 193, 193);
  }
.btn {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 14px 0;
    width: 206px;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
  }

.btn:hover {
   color: lightslategray;
    border-color: lightslategray;
  }

.btn-view{
  background-color: transparent;
  border: 1px solid #d0ba93;
  color:#d0ba93;
  position: relative;
}

.btn-view img{
  position: absolute;
  right:8px;
  height: 18px;
}

.arrow-up{
  transform: scaleY(-1);
}

.chose-cat{
  max-width: 150px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding:4px 0px;
  text-transform:uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}