.search{
  margin-top: 50px;
}
.searchInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search input {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  height: 20px;
  width: 450px;
}

.searchIcon {
  position: absolute;
  right:12px;
  filter: color(black);
}


input:focus {
  background-color: white;
  outline: none;
  .searchIcon {
    filter: color(white);
  }
}

.dataResult {
  position: absolute;
  margin-top: 10px;
  background-color: white;
  -moz-box-shadow: 0 10px 15px -1px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
  -webkit-box-shadow: 0 10px 15px -1px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
  box-shadow: 0 10px 15px -1px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
  overflow: hidden;
  overflow-y: auto;
  padding: 8px;
  border-radius: 4px;
  z-index: 100;
  li{
    font-size: 16px;
    color: lightslategray;
    padding:8px;
    display: flex;
    align-items: center;
    img{
     height: 20px;
      margin-right: 16px;
    }
  }
  li:not(:last-child){
    border-bottom: 1px solid lightgray;
  }

}

.dataResult::-webkit-scrollbar {
  display: none;
}